@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-maroon-100: #c28c8c;
  --color-maroon-200: #b67575;
  --color-maroon-300: #a75959;
  --color-maroon-400: #780000;
  --color-maroon-500: #660000;
  --color-maroon-600: #580000;
  --color-maroon-700: #2a0000;
  --color-maroon-800: #1e0000;
  --color-maroon-900: #0d0000;
  --color-crimson-100: #e3949a;
  --color-crimson-200: #de7f86;
  --color-crimson-300: #d7656d;
  --color-crimson-400: #c1121f;
  --color-crimson-500: #a40f1a;
  --color-crimson-600: #8d0d17;
  --color-crimson-700: #44060b;
  --color-crimson-800: #300508;
  --color-crimson-900: #150203;
  --color-ivory-100: #fef8ec;
  --color-ivory-200: #fef7e8;
  --color-ivory-300: #fef5e4;
  --color-ivory-400: #fdf0d5;
  --color-ivory-500: #d7ccb5;
  --color-ivory-600: #b9af9b;
  --color-ivory-700: #59544b;
  --color-ivory-800: #3f3c35;
  --color-ivory-900: #1c1a17;
  --color-navy-100: #8ca2ad;
  --color-navy-200: #758f9d;
  --color-navy-300: #597889;
  --color-navy-400: #003049;
  --color-navy-500: #00293e;
  --color-navy-600: #002335;
  --color-navy-700: #00111a;
  --color-navy-800: #000c12;
  --color-navy-900: #000508;
  --color-sky-100: #bad2e1;
  --color-sky-200: #acc9db;
  --color-sky-300: #9cbed3;
  --color-sky-400: #669bbc;
  --color-sky-500: #5784a0;
  --color-sky-600: #4a7189;
  --color-sky-700: #243642;
  --color-sky-800: #1a272f;
  --color-sky-900: #0b1115;
  --color-gray-100: #868686;
  --color-gray-200: #727272;
  --color-gray-300: #5e5e5e;
  --color-gray-400: #4a4a4a;
  --color-gray-500: #363636;
  --color-gray-600: #313131;
  --color-gray-700: #2b2b2b;
  --color-gray-800: #262626;
  --color-gray-900: #202020;
  --color-white: #fff0ea;
  --color-black: #070707;
  --color-pink-100: #fdaed8;
  --color-pink-200: #fda1d2;
  --color-pink-300: #fd93cb;
  --color-pink-400: #fc86c5;
  --color-pink-500: #fc78be;
  --color-pink-600: #e36cab;
  --color-pink-700: #ca6098;
  --color-pink-800: #b05485;
  --color-pink-900: #974872;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
